VOLC_API_KEY=2b84708d-813d-44d6-b75d-a0828cb6c384
BAIDU_OCR_API_KEY=1iqbxgLEsVSJgIUKyOlqR6L2
BAIDU_OCR_SECRET_KEY=hQvtQpUjSGzyVF8OAccgjCvZoD7aqQL9

PANDA_MAIL_HOST=smtp.163.com
PANDA_MAIL_PORT=465
PANDA_MAIL_USERNAME=shibaizhelianmeng@163.com
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=https://api.tongzhilian.cn
PANDA_MAIL_PASSWORD=JKNXE8DwRy4NMArN

POSTGRES_USER=panda-2026-xd
POSTGRES_PASSWORD=Zxd123456789.
POSTGRES_DB=postgres

MINIO_ROOT_USER=panda-2026-xd
MINIO_ROOT_PASSWORD=Zxd123456789.
MINIO_BUCKET=panda-files

PANDA_VECTOR_STORE_TABLE_NAME=vector_store_v3
PANDA_VECTOR_STORE_DIMENSION=2048
